<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>PASKA</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="styles/foundation.css" />
  <script src="scripts/vendor/modernizr.js"></script>
      <link rel="stylesheet" href="styles/foundation-icons.css" />

  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="beardedNinjaApp">
  <!-- <body ng-app="beardedNinjaApp" onLoad="$('#myModal').foundation('reveal', 'open');"> -->

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

  
      <!-- Navigation -->
      <nav class="top-bar" data-topbar>

        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Bearded Ninja</a></h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="left">
            <li><a href="#" data-reveal-id="uploadNew">Upload a new image</a></li>
          </ul>

          <!-- Right Nav Section -->
          <ul class="right">
            <!-- <li><a href="/#/signup">Create account</a></li> -->
            <!-- <li class="active"><a href="/#/login">Login</a></li> -->
            <li><a href="#" data-reveal-id="login">Login</a></li>
            <li class="active"><a href="/#/new">Fresh</a></li>
          </section>

        </nav>
        <br>  
        <hr>

        <div id="uploadNew" class="reveal-modal medium" data-reveal>
          <h2>Upload a new image to the gallery</h2>

          <form ng-controller="ImgCtrl">
            <fieldset>
              <legend>Fieldset Legend</legend> 
              <input type="file" ng-file-select="onFileSelect($files)" >
              name: <input type="text" placeholder="Image title">
              tags: <input type="text" placeholder="#Summer, #Holidays, #Weather">
              Mature content? <input type="checkbox" name="mature">
              <buttton class="button close-reveal-modal" value="submit">Submit</buttton>

            </fieldset>
          </form>
          <a class="close-reveal-modal" ng-click="upload.abort()">&#215;</a>

        </div>

        <div id="login" class="reveal-modal medium" data-reveal>
          <h2>Upload a new image to the gallery</h2>

          <form ng-controller="ImgCtrl">
            <fieldset>
              <legend>Fieldset Legend</legend>
              Username/email: <input type="text" placeholder="Image title">
              Password: <input type="password" placeholder="xxxxxxx">
              
              <input type="checkbox" name="rememberLogin"> Stay logged in
              <br>
              <buttton class="button" value="submit">Submit</buttton>

            </fieldset>
          </form>
          <a class="close-reveal-modal" ng-click="upload.abort()">&#215;</a>

        </div>  

        <!-- Add your site or application content here -->

        <div class="container" ng-view=""></div>

        <footer class="row">
          <div class="large-12 columns">
            <hr>
            <div class="row">
              <div class="large-6 columns">
                <p>© Div & mxO</p>
              </div>
            </div>
          </div>
        </footer>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <script src="scripts/vendor/jquery.js"></script>
    <script src="scripts/foundation.min.js"></script>
    <script>
    $(document).foundation();
    </script>
    <!-- build:js scripts/vendor.js -->   
    <script src="bower_components/ng-file-upload-shim/angular-file-upload-shim.js"></script>

    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/photo.js"></script>
    <script src="scripts/controllers/img.js"></script>
    <!-- endbuild -->
  </body>
  </html>
