<!-- Everything goes here -->

<div class="row">

    <!-- Main Blog Content -->
    <hr>
    <div class="large-9 columns" role="content">
      <h1>Image upload</h1>

  <ul ng-controller="MainCtrl">
    <div class="repeat" ng-repeat="url in urls">
       {{ url.name }}
    </div>
  </ul>

  <ul>
  <p><img src="http://placehold.it/450x350&text=randomgenid"></p>
       
        <form role="form">
        <div class="form-group">
          <input class="form-control" type="text" ng-model="blog.user" placeholder="your name"></input>
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="3" ng-model="blog.body" placeholder="content"></textarea>
        </div>
        <button>Comment</button>


      </form>



  <p><img src="http://placehold.it/450x350&text=randomgenid"></p>

  <p><img src="http://placehold.it/450x350&text=randomgenid"></p>

  <ul>





      <article>

    <img src="http://placehold.it/400x240&amp;text=[img]">
    <form action="">
      <input type="text" ng-model="user.name" placeholder="Don Johson"><br>
      <input type="number" ng-model="user.age" name="age" min="9" max="99" placeholder="Age">
    </form>

       <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, ut, dolorum maxime numquam nemo excepturi dolores repudiandae magni perspiciatis doloribus autem quae ratione quis explicabo itaque similique officiis. Nobis, dolorem." - <small>Lorem ipsum</small></p>

      </article>

    </div>

    <!-- End Main Content -->


    <!-- Sidebar -->

    <aside class="large-3 columns">

      <h5>General menu</h5>
      <ul class="side-nav">
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>

      <div class="panel">
        <h5>Featured</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, quia cumque nam dignissimos sint repudiandae voluptatem temporibus neque sunt omnis facilis animi? Modi voluptatem pariatur nobis natus sed aspernatur quae.</p>
        <a href="#">Read More →</a>
      </div>

    </aside>

    <!-- End Sidebar -->
  </div>