<!-- Everything goes here -->

<div infinite-scroll="scroll()" infinite-scroll-distance="3" class="row">

  <!-- Main Blog Content -->
  <div class="large-9 columns" role="content">
    <h3>Top images</h3>
    <hr>

    <!-- Single image view -->
    <div class="repeat" ng-repeat="image in images">  
      <!-- header -->
      <header>

        <h2>{{image.name}}</h2>
        <a href="#" id="like"><i class="fi-like"></i></a>
        <a href="" id="dislike"><i class="fi-dislike"></i></a>

        <p>
          <!-- Image url as points -->
          <a href="/#/photo/{{image.id}}" alt="{{image.name}}"> {{image.points}} points </a> ∞ <a href="/#/photo/{{image.id}}#comments"> 
          {{image.comments_amount}} comments</a>
        </p>

      </header>
      <!-- /header -->

      <!-- Image -->
      <div id="mainImage">
        <a ng-href="/#/photo/{{image.id}}">
          <img ng-src="{{image.imageUrl}}" alt="sampleimg" class="mainImage"  ></a>
        <!-- /Image -->
      </div>
      <br>
      <!-- social share -->
      <div id="social-share">
        <i class="fi-social-facebook"></i>
        <i class="fi-social-twitter"></i>
        <i class="fi-social-reddit"></i>
        <i class="fi-social-google-plus"></i>
      </div>
      <!-- /social share -->
      <hr>
    </div>
    <!-- /Single image view -->

  </div>

  <!-- End Main Content -->


  <!-- Sidebar -->

  <aside class="large-3 columns">
    <p>hello world</p>
    <p>hello world</p>
    <p>hello world</p>
    <p>hello world</p>
    <p>hello world</p>
    <p>hello world</p>
    <p>hello world</p>
    <p>hello world</p>
  </aside>

  <!-- End Sidebar -->
</div>