<!-- Everything goes here -->

<div infinite-scroll="scroll()" infinite-scroll-distance="3" class="row">

  <!-- Main Blog Content -->
  <div class="large-9 columns" role="content">
    <h1>Top images</h1>
    <div class="repeat" ng-repeat="image in images">  
      <p><b>{{image.name + " "}}</b></p> 
      <a ng-href="/#/photo/{{image.id}}">
        <img ng-src="{{image.imageUrl}}" alt="sampleimg" class="mainImage"  >
      </a>
      <p>{{"Comments: 0 (puuttuu) views: " + image.views}}</p>
    </div>

  </div>

  <!-- End Main Content -->


  <!-- Sidebar -->

  <aside class="large-3 columns">

  </aside>

  <!-- End Sidebar -->
</div>